<div class='admin-content'>
  <div class='row'>
    <div class='col col-md-4 chart-box'>
      <h3>Subscriptions</h3>
      <div id='subscriptions-piechart'></div>
    </div>
    <div class='col col-md-8 chart-box'>
      <h3>subscribers & followers</h3>
      <div id='subscriber-follower-chart'></div>
    </div>
  </div>

  <div class='row'>
    <div class='col col-md-12 chart-box'>
      <h3>Requests, errors, latency</h3>
      <div id='request-error-latency-chart'></div>
    </div>
  </div>

  <div class='row'>
    <div class='col col-md-4 chart-box'>
      <h3>daily traffic</h3>
      <div id='daily-chart'></div>
    </div>
    <div class='col col-md-8 chart-box'>
      <h3>monthly traffic</h3>
      <div id='monthly-chart'></div>
    </div>
  </div>
</div>
