<div class='row'>
  <div class='col col-md-4'>
    <h3>free vs paid APIs</h3>
    <div id="free-v-paid-chart"></div>
  </div>
  <div class='col col-md-4'>
    <h3>pricing stats</h3>
    <table class='table table-stripe'>
      <thead>
        <tr>
          <th width='70%'>field</th>
          <th width='30%'>value</th>
        </tr>
      </thead>
      <tbody>
        <% _.each(price_stats, function(stats) { %>
          <tr>
            <td><%= stats.name %></td>
            <td><%= stats.value %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
  <div class='col col-md-4'>
    <h3>top devs stats</h3>
    <table class='table table-stripe'>
      <thead>
        <tr>
          <th width='70%'>field</th>
          <th width='30%'>value</th>
        </tr>
      </thead>
      <tbody>
        <% _.each(devs_stats, function(stats) { %>
          <tr>
            <td><%= stats.name %></td>
            <td><%= stats.value %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>

<div class='row' style="margin-top: 40px; margin-bottom: 40px;">
  <div class='col col-md-6'>
    <h3>price vs followers</h3>
    <div id='price-followers-chart'></div>
  </div>
  <div class='col col-md-6'>
    <h3>price vs developers</h3>
    <div id='price-devs-chart'></div>
  </div>
</div>

<div class='row' style="margin-bottom: 50px">
  <div class='col col-md-12'>
    <h3>category distribution chart</h3>
    <div id="distibution-chart"></div>
  </div>
</div>

