<div class="header navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="header-separation">
      <a href="/dashboard"><img src=
      "https://s3.amazonaws.com/mashape-production-assets/images/mashape-logo.png"
      width="168" height="40" /></a>
    </div>

    <div class="nav">
      <ul class="pull-left">
        <li for="explore_search" class="search input-prepend">
          <form role="search">
            <input name="" type="text" id="explore_search" placeholder="Search Mashape"
            class="form-control" />
          </form>
        </li>

        <li><a href="/explore"><span class="title">Explore APIs</span></a></li>

        <li><a href=
        "http://support.mashape.com/help_center?utm_source=Mashape&amp;utm_medium=Header&amp;utm_content=Help&amp;utm_campaign=Mashape-Home"
        target="_blank"><span class="title">Help</span></a></li>
      </ul>

      <ul class="pull-right">
        <li class="apps dropdown">
          <a data-toggle="dropdown" class="has-badge"><span class=
          "title">Applications</span></a>

          <div class="dropdown-menu">
            <div class="filter-wrapper">
              <input type="text" placeholder="Filter Applications" class=
              "filter form-control" />
            </div>

            <div class="antiscroll-wrapper">
              <div class="antiscroll-inner">
                <ul class="list"></ul>
              </div>
            </div><a data-toggle="modal" data-target="#create-app" data-loading-text=
            "Loading..." class="btn btn-success has-icon">&nbsp;<span class=
            "btn-text"><span class="text">Create Application</span></span></a>
          </div>
        </li>

        <li class="apis dropdown">
          <a data-toggle="dropdown" class="has-badge"><span class="title">My
          APIs</span></a>

          <div class="dropdown-menu">
            <div class="filter-wrapper">
              <input type="text" placeholder="Filter APIs" class=
              "filter form-control" />
            </div>

            <div class="antiscroll-wrapper">
              <div class="antiscroll-inner">
                <ul class="list"></ul>
              </div>
            </div><a data-toggle="modal" data-target="#create-api" data-loading-text=
            "Loading..." class="btn btn-success has-icon">&nbsp;<span class=
            "btn-text"><span class="text">Add another API</span></span></a>
          </div>
        </li>

        <li class="dropdown">
          <a data-toggle="dropdown" class="profile-picture"><img src=
          "https://www.gravatar.com/avatar/5fcb495e4510022cd8c0a2ed0efc09ba?d=retro&amp;r=pg&amp;s=40"
          height="40" width="40" class="circular" /><span class=
          "name">jwatanabe7</span></a>

          <ul class="dropdown-menu right">
            <li><a href="/jwatanabe7"><span class="text">Profile</span></a></li>

            <li><a href="/settings"><span class="text">Account Settings</span></a></li>

            <li><a href="/logout"><span class="text">Logout</span></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
