<div class="left-part">
  <div class="image pull-left">
    <div class="logo-wrapper">
      <a data-toggle="modal" data-target="#upload-logo" class=
      "image-upload owner"><img src=
      "/imgs/dummy.png"
      alt="dummy" class="profile-pic logo" /></a>
    </div>
  </div>

  <div class="details pull-left">
    <h1 title="This API is private" class="name truncate private">
    dummy</h1><a href="#" title=
    "Make this API Public" class="private-label" style='background-color:#F88017'>SUPER STAR</a>

    <div class="meta-info">
      <div class='stars-rating' style="margin-top:-9px; width: 110px; background-color: gold; height: 20px; background-image: url('imgs/stars.png'); background-repeat: repeat-x;">

      </div>
      <div class="owner pull-left" style='margin-top:5px;'>
        <a href="/jwatanabe7">jwatanabe7</a>
      </div>
    </div>
  </div>
</div>

<div class="stats pull-right">
  <a data-target="#developers" data-toggle="modal" class=
  "stat developers"><span class="number">1235</span><span class=
  "title">Developers</span></a><a class="stat followers"><span data-action=
  "api-jwatanabe7~dummy" class="counter number">2200</span><span class=
  "title">Follower<span class="ending">s</span></span></a>

  <form data-action="follow-api-jwatanabe7~dummy" class="follow api">
    <input type="hidden" name="name" value="dummy" /><input type="hidden" name=
    "account" value="jwatanabe7" /><a data-loading-text="Loading..." class=
    "btn btn-success owner"><span class="btn-text">You own this API</span></a>
  </form>
</div>
