<div class="clearfix">
  <div class="pull-right">
  <a href="#/admin" class="btn active"><span class=
  "text">Analytics &amp; Settings</span></a>
  </div>

<ul class="list-inline" style='float:left'>
  <li>
    <h5><a href="/jwatanabe7/dummy"><span>Documentation</span></a></h5>
  </li>

  <li>
    <h5><a href="/jwatanabe7/dummy/pricing"><span>Pricing</span></a></h5>
  </li>

  <li>
    <h5><a href="/jwatanabe7/dummy/overview"><span>Overview</span></a></h5>
  </li>

  <li>
    <h5><a href="/jwatanabe7/dummy/status"><span>Status</span></a></h5>
  </li>

  <li>
    <h5><a href=
    "/jwatanabe7/dummy/announcements"><span>Announcements</span></a></h5>
  </li>

  <li>
    <h5><a href="/jwatanabe7/dummy/support"><span>API Support</span></a></h5>
  </li>
  <li style='border-bottom: solid 3px #6bd93f;'>
    <h5><a href="#/review"><span>API Reviews</span></a></h5>
  </li>
</ul>
  <div style='float:left; margin-left: 20px'>
    <span class='st_sharethis'></span>
    <span class='st_facebook' st_via='mashape'></span>
    <span class='st_twitter' st_via="mashape"></span>
  </div>
</div>
