<p class="menu-title">Analytics</p>

<ul>
<li><a href="/jwatanabe7/dummy/admin/" data-tab="overview"><span class=
"title">Overview</span></a></li>

<li><a href="/jwatanabe7/dummy/admin/developers" data-tab=
"developers"><span class="title">Developers</span></a></li>
</ul>

<p class="menu-title">Settings</p>

<ul>
<li><a href="/jwatanabe7/dummy/admin/general" data-tab="general" class=
"settings"><span class="title">General</span></a></li>

<li><a href="/jwatanabe7/dummy/admin/network" data-tab="network" class=
"settings"><span class="title">Network</span></a></li>

<li><a href="/jwatanabe7/dummy/admin/transformations" data-tab=
"transformations" class="transformations"><span class=
"title">Transformations</span></a></li>

<li><a data-target="#invite" data-toggle="modal" class=
"settings"><span class="title">Invite devs to your API</span></a></li>
</ul>
