<div  style='margin-left: -300px'>
  <div class='pricing-container'>
    <div class="subscribe-container"></div>
    <div class="pricing">
      <div class="background"></div>

      <div class="inner">
        <div class="bar"></div>

        <div class="pricing-side">
          <div class="pricing-top">
          <p><b>Pay as you go.</b><br />
          No long-term.</p><img src=
          "https://s3.amazonaws.com/mashape-production-assets/images/verisign_secured.png"
          alt="VeriSign Secured" /></div>

          <div class="quota">
            <span class="title">Basic</span>
          </div>

          <div class="quota">
            <span class="title">Freemium</span>
          </div>

          <div class="quota">
            <span class="title">Premium</span>
          </div>

          <div class="quota">
            <span class="title">Ultra</span>
          </div>
        </div>

        <div class="pricing-plan-container">
          <div class="pricing-plan recommended-plan">
            <div class="plan-wrapper">
              <div class="pricing-top">
                <div class="ribbon-wrapper">
                  <p class="ribbon green">Popular</p>
                </div>

                <p class="plan-name">BASIC</p>

                <p class="price"><span class="sign">$</span><span>0</span></p>

                <p class="time-period">MONTHLY</p><a data-name="BASIC" data-price="0"
                data-pricing="FREEMIUM" data-period="MONTHLY" data-action="SUBSCRIBE"
                data-loading-text="Loading..." class=
                "btn btn-success btn-sm subscribe"><span class=
                "btn-text">subscribe</span></a>
              </div>

              <div class="quota unlimited">
                <p class="quota-limit"><strong class="amount">Unlimited</strong></p>
              </div>

              <div class="quota">
                <p class="quota-limit"><strong class=
                "amount">1,000</strong><span class="period">/ month</span></p>

                <p class="quota-overages">$0.01 per extra</p>
              </div>

              <div class="quota unlimited">
                <p class="quota-limit"><strong class="amount">Unlimited</strong></p>
              </div>

              <div class="quota unlimited">
                <p class="quota-limit"><strong class="amount">Unlimited</strong></p>
              </div>
            </div>

            <div class="plan-action">
              <a data-name="BASIC" data-price="0" data-pricing="FREEMIUM"
              data-period="MONTHLY" data-action="SUBSCRIBE" data-loading-text=
              "Loading..." class="btn btn-default btn-sm subscribe" style="font-style: italic; font-size: 14px; background-color: white; color:#7f8c8d"><span class=
              "btn-text">Downgrade</span></a>
            </div>
          </div>

          <div class="pricing-plan">
            <div class="plan-wrapper">
              <div class="pricing-top">
                <p class="plan-name">PRO</p>

                <p class="price"><span class="sign">$</span><span>9.99</span></p>

                <p class="time-period">MONTHLY</p><a data-name="PRO" data-price=
                "9.99" data-pricing="PAID" data-period="MONTHLY" data-action=
                "SUBSCRIBE" data-loading-text="Loading..." class=
                "btn btn-default btn-sm subscribe" style="font-style: italic; color: white; background-color:#1098cc"><span class=
                "btn-text">subscribed</span></a>
              </div>

              <div class="quota">
                <p class="quota-limit"><strong class=
                "amount">5,000</strong><span class="period">/ month</span></p>

                <p class="quota-overages">$0.005 per extra</p>
              </div>

              <div class="quota unlimited">
                <p class="quota-limit"><strong class="amount">Unlimited</strong></p>
              </div>

              <div class="quota unlimited">
                <p class="quota-limit"><strong class="amount">Unlimited</strong></p>
              </div>

              <div class="quota unlimited">
                <p class="quota-limit"><strong class="amount">Unlimited</strong></p>
              </div>
            </div>

            <div class="plan-action">
              <a data-name="PRO" data-price="9.99" data-pricing="PAID" data-period=
              "MONTHLY" data-action="SUBSCRIBE" data-loading-text="Loading..." class=
              "btn btn-default btn-sm subscribe" style="font-style: italic; font-size: 14px; color:#7f8c8d"><span class=
              "btn-text">subscribed</span></a>
              <a id='unsubscribe'>Unsubscribe</a>
            </div>
          </div>

          <div class="pricing-plan">
            <div class="plan-wrapper">
              <div class="pricing-top">
                <p class="plan-name">ULTRA</p>

                <p class="price"><span class="sign">$</span><span>45</span></p>

                <p class="time-period">MONTHLY</p><a data-name="ULTRA" data-price=
                "45" data-pricing="PAID" data-period="MONTHLY" data-action=
                "SUBSCRIBE" data-loading-text="Loading..." class=
                "btn btn-success btn-sm subscribe"><span class=
                "btn-text">upgrade</span></a>
              </div>

              <div class="quota unlimited">
                <p class="quota-limit"><strong class="amount">Unlimited</strong></p>
              </div>

              <div class="quota unlimited">
                <p class="quota-limit"><strong class="amount">Unlimited</strong></p>
              </div>

              <div class="quota">
                <p class="quota-limit"><strong class=
                "amount">25,000</strong><span class="period">/ month</span></p>

                <p class="quota-overages">$0.002 per extra</p>
              </div>

              <div class="quota unlimited">
                <p class="quota-limit"><strong class="amount">Unlimited</strong></p>
              </div>
            </div>

            <div class="plan-action">
              <a data-name="ULTRA" data-price="45" data-pricing="PAID" data-period=
              "MONTHLY" data-action="SUBSCRIBE" data-loading-text="Loading..." class=
              "btn btn-success btn-sm subscribe"><span class=
              "btn-text">UPGRADE</span></a>
            </div>
          </div>

          <div class="pricing-plan">
            <div class="plan-wrapper">
              <div class="pricing-top">
                <p class="plan-name">MEGA</p>

                <p class="price"><span class="sign">$</span><span>99</span></p>

                <p class="time-period">MONTHLY</p><a data-name="MEGA" data-price="99"
                data-pricing="PAID" data-period="MONTHLY" data-action="SUBSCRIBE"
                data-loading-text="Loading..." class=
                "btn btn-success btn-sm subscribe"><span class=
                "btn-text">upgrade</span></a>
              </div>

              <div class="quota unlimited">
                <p class="quota-limit"><strong class="amount">Unlimited</strong></p>
              </div>

              <div class="quota unlimited">
                <p class="quota-limit"><strong class="amount">Unlimited</strong></p>
              </div>

              <div class="quota unlimited">
                <p class="quota-limit"><strong class="amount">Unlimited</strong></p>
              </div>

              <div class="quota">
                <p class="quota-limit"><strong class=
                "amount">100,000</strong><span class="period">/ month</span></p>

                <p class="quota-overages">$0.001 per extra</p>
              </div>
            </div>

            <div class="plan-action">
              <a data-name="MEGA" data-price="99" data-pricing="PAID" data-period=
              "MONTHLY" data-action="SUBSCRIBE" data-loading-text="Loading..." class=
              "btn btn-success btn-sm subscribe"><span class=
              "btn-text">UPGRADE</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="pricing-details inner">
      <div class="pricing-contact">
        <p>For custom pricing, features, and SLAs, <b>contact the
        owner.</b></p><a data-loading-text="Loading..." class=
        "btn btn-default btn-sm"><span class="btn-text">Contact Now</span></a>
      </div>

      <div class="pricing-terms">
        <div>
          <h4>Is my payment information secure?</h4>

          <p>Credit cards are processed through a PCI compliant banking partner.</p>

          <h4>What if I exceed my plan limits?</h4>

          <p>Depending on your plan&#8217;s selected option, you will either be
          suspended or incur overage charges.</p>
        </div>

        <div>
          <h4>When will I be billed?</h4>

          <p>We charge your credit card upon subscription to an API&#8217;s plan and
          at the next recurring interval.</p>

          <h4>How are refunds handled?</h4>

          <p>For all refund requests, please contact the API provider directly.</p>
        </div>
      </div>
    </div>
  </div>

  <div class='pricing-questionaire' style='display:none'>
    <div class='box-container' id='questions'>
      <div class='box col col-md-8'>
        <div class='box-header'><h2>Maybe you just need some help instead?</h2></div>
        <div class='box-content' style='width: 60%'>
          <ul>
            <li><a>I want to downgrade to a cheaper plan</a></li>
            <li><a>I don't know how this API works</a></li>
            <li><a>Something is not working with my Unirest library</a></li>
            <li><a>How do I use Mashape if my favorite language is not available</a></li>
            <li><a>I don't know how to use auth key</a></li>
          </ul>
        </div>
        <div class='box-footer'>
          <a class='continue'>CONTINUE</a>
          <button class='btn btn-success btn-sm back'>GO BACK</button>
        </div>
      </div>
      <div class='mashape-img col col-md-4' style='position: absolute; right:0; bottom: 0;'>
        <img src='imgs/mashape.png'>
      </div>
    </div>


  </div>
</div>
